@font-face{
    font-family: "Indie_Flower";
    src: url(./fonts/Indie_Flower/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{/*letra para titulos*/
    font-family: "Lobster";
    src: url(./fonts/Lobster/Lobster-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Share_Tech";
    src: url(./fonts/Lobster_Pacifico_Share_Tech/Share_Tech/ShareTech-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{/*Letra para texto*/
    font-family: "Playfair_Display";
    src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --Blanco: white;
    --Rosa: pink;
    --Amarillo: yellow;
    --Gris: rgb(131, 131, 131);
    --Rosa-fuerte: rgb(250, 0, 146);
    --Rosa-Para-Letra: rgb(150, 6, 118);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(19deg,rgba(235, 2, 122, 0.822) 0%, rgba(255, 255, 255, 1) 100%);
    user-select: none;
}


/*Inicia estilo del menu, el logo de XO y who*/

.container-xxl{/*contenedor donde viene el logo y el menu*/
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 15vh;
    align-items: center;
    padding: 0 3em;
    margin: 0;
    justify-content: space-between;
}

.container-fluid{
    max-width: 100%;
    height: 120vh;
    /* border: yellow 2px solid; */
    margin-bottom: 10em;
}

#SizeXo > .container-fluid:nth-child(1){
    /* border: orange 2px solid; */
    height: 422vh;

}

#CatalogXo > .container-fluid:nth-child(1){
    /* border: orange 2px solid; */
    margin-bottom: 10em;
    /* border: yellow solid 2px; */
    height: 300vh;
}

/*Inicio Diseño de menú*/

.OptionandLogoMenu{
    position: relative;
    display: flex;
    width: 100%;
    height: 32vh;
    /* border: #00c6ff 2px solid; */
}

.OptionMenu > ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 3.5em 0em;
    text-align: end;
    justify-content: end;
    /* border: skyblue 1px solid; */
}

.OptionMenu > ul > li{
    list-style: none;
}

.OptionMenu > ul > li > a{
    text-decoration: none;
    font-size: 19px;
    color: var(--Rosa-fuerte);
    font-family: Lobster;

    &:hover{
        cursor: pointer;
        border-bottom: var(--Rosa-fuerte) 4px dashed;
        border-radius: 2em;
    }
}

.navbar{
    background: var(--Blanco);
    position: fixed;
    height: 35vh;
}

/*Fin Diseño de menú*/

/*Efecto de menu en seguimiento*/

.is-scrolled{
    position: fixed;
    width: 100%;
    height: 15vh;
    background: var(--Blanco);
    /* border: #6d015f 2px solid; */
    z-index: 999;
}

.is-scrollednav{
    /* border: 2px red solid; */
    position: relative;
    width: 60%;
    bottom: 4.5em;
    right: 3em;
}

.is-scrollimgnav{
    display: none;
}

/*terminade menu en seguimiento*/

/*inicio diseño de imagenes de contenedor menú y who*/

.ImgLogoXo > img{
    position: absolute;
    width: 15%;
    height: 30vh;
    top: 1em;
    left: 8em;
}

.ImgWhoXo > img{
    width: 40%;
    height: 30vh;
    display: block;/*Elimina los espacios en linea que tiene la imagen*/
    box-sizing: border-box;/*adapanta el border y pading se inclya en la dimesion de la imagen*/
    object-fit: cover;/*asegura que la imagen cubra su caja sin deformarse; recorta los bordes si es necesario manteniendo la proporción.*/
    border-radius: 50%;/*pone el borde en un 55% adaptandolo a la imagen*/
    border: 6px dashed rgba(255, 0, 128, 0.9); /* borde circular que sigue la forma*/
    background-clip: padding-box; /* evita que la imagen se solape con el borde */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/*fin de diseño de imagenes de contenedor menú y who*/

/*Inicia el diseño de Contenedor de tittle and text for Who*/

#WhoMyXo > .container-fluid:nth-child(1){
    /* border: slategray 2px solid; */
    height: 150vh;
    background: url(./img/Fondos_Pagina_Munecos/FondoWho3.jpg) no-repeat center / 120% 150vh;
    object-fit: cover;
}

.ContainerWhoXo{
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    /* border: violet 2px solid; */
}

.ContainerTextAndTittleWhoXo{
    position: relative;
    width: 100%;
    height: 40vh;
    /* border: red 2px solid; */
    top: 6em;
    left: 0em;
    align-content: center;
}

.TittleWhoXo > h3{/*contenedor del titulo afecta el h3 directamente*/
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    text-align: center;
    align-content: center;/*alinia el texto en medio del contenedor*/
    font-size: 40px;
    color: var(--Blanco);
    font-family: "Lobster";
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    left: 2em;
    border-radius: 1em 2em;
     filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.TextWhoXo{/*contenedor del texto*/
    height: 50vh;
    text-align: center;
    align-content: center;
    /* border: salmon 2px solid; */
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Rosa-Para-Letra);
    font-size: 18px;
    font-family: Playfair_Display;
    margin-left: 6em;
    border-radius: 1em 2em;
}

.scrollimgwho{
    /* border: #6d015f 3px solid; */
    position: absolute;
    padding-top: 3em;
}

.ImgWhoXo{/*contenedor de las imagenes*/
    height: 51vh;
    width: 32%!important;
    position: relative;
    left: 0em;
    top: 0em;
    /* border: #ff0080 1px solid; */
    filter: drop-shadow(0 0 10px rgb(139, 1, 116));
}

.ImgWhoXo > img:nth-child(1){/*Ramo de flores*/
    position: absolute;
    left: 8em;
}

.ImgWhoXo > img:nth-child(2){/*Muñeco de spiderman*/
    position: absolute;
    left: 3em;
    top: 7em;
}

.ImgWhoXo > img:nth-child(3){/*Llavero de cabeza*/
    position: absolute;
    top: 7em;
    left: 13.5em;
}


/*Fin el diseño de Contenedor de tittle and text for Who*/

/*Ininicia animacion para los campos de Who texto y tittle*/

.scroll-tittle{
    transform: translate(0px);
    transition: 2s all ease;
    opacity: 1;
}

/*Termina animacion para los campos de Who texto y tittle*/

/*Contenedor de AimXO Inicia el diseño*/

.ContainerTittleandTextAimXo{
    position: relative;
    /* border: royalblue 1px solid; */
    width: 100%;
    height: 120vh;
    overflow: hidden;
    background: url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 6em 3em / 5em 5em,/*primero icono de parche arriba a la izquieda*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 40em 15em / 5em 5em,/*segundo parche de enmedio de arriba*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 73em 3em / 5em 5em,/*tercer parche arriba a la derecha*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 40em 30em / 5em 5em,/*cuarto parche abajo de enmedio*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 6em 39em / 5em 5em,/*quinto parche abajo de enmedio*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 73em 39em / 5em 5em,/*sexto parche abajo de derecha*/
    url(../css/img/Iconos_Xo/Circulo_Xo.png) no-repeat 10em 20em / 10em 10em,
    url(../css/img/Iconos_Xo/Circulo_Xo.png) no-repeat 63em 20em / 10em 10em;
}

.ImgAimXo > img{
    position: absolute;
    width: 18%;
    left: 8.7em;
    top: 3em;
}

.TittleAimXo{
    position: relative;
    /* border: sandybrown 1px solid; */
    width: 100%;
    height: 30vh;
    margin: 3px 0px;
    padding: 0;
    text-align: center;
    align-content: center;
    color: var(--Blanco);
    font-family: Lobster;
    border-radius: 1em;
}

.TittleAimXo > h3{
    position: relative;
    width: 40%;
    height: 12vh;
    left: 10.5em;
    top: 1em;
    align-content: center;
    background: var(--Rosa-fuerte);
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
    filter: drop-shadow();
    display: block;/*Elimina los espacios en linea que tiene la imagen*/
    box-sizing: border-box;/*adapanta el border y pading se inclya en la dimesion de la imagen*/
    object-fit: cover;/*asegura que la imagen cubra su caja sin deformarse; recorta los bordes si es necesario manteniendo la proporción.*/
    border: 6px dashed rgba(255, 0, 128, 0.9); /* borde circular que sigue la forma*/
    background-clip: padding-box; /* evita que la imagen se solape con el borde */
    font-size: 38px;
}

.ContainerTextAimXo{
    position: relative;
    /* border: orange 2px solid; */
    margin-bottom: 15em;
    width: 100%;
    height: 100vh;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.TextAim{
    position: relative;
    /* border: #ff0080 1px solid; */
    margin: 2em;
    height: 60vh;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    bottom: 1.5em;
    border-radius: 1em 2em;
}

.TextAim > h3{
    position: relative;
    /* border: yellow 1px solid; */
    top: 1.5em;
}

.TextAim > p{
    position: relative;
    top: 0em;
}

/*Contenedor de AimXO termina el diseño (Aim)*/

/*inicia contenedor de tamaño (sizes)*/

.ContainerSizesXo{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    /* border: #7928ca 1px solid; */


}

.ContainerTittleandSizesXo{
    position: static;
    width: 100%;
    height: 100vh;
    top: 3em;
    /* border: springgreen 1px solid; */
}

/*Estilo para titulos*/

.TittleSizeXo > h3{
    position: relative;
    width: 50%;
    height: 20vh;
    left: 8em;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--Blanco);
    font-family: Lobster;
    /* border: tomato 2px solid; */
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
}

.TittleSizeXoSize > h3{
    font-size: 25px;
    font-family: Playfair_Display;
    color: var(--Blanco);
    /* border: turquoise 2px solid; */
}

/*Fin Estilo para titulos*/

#SizeXo{
    position: relative;
    min-height: 100vh;
    /* overflow-y: scroll; */
}

.ContainerImgSizeXo {
    position: relative;
    top: 5em;
    height: 400vh; /* Ajusta esto: a más altura, más lento el scroll */
    border: 10px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
}

/* Este es el que se queda quieto en pantalla */
.sticky-wrapper {
    position: sticky;
    top: 0em;
    width: 100%;
    max-height: 100vh;
    overflow: hidden; /* Evita que salgan barras de scroll internas */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #6d015f 2px solid; */
}

.sticky-wrapper:nth-child(1){
    /* border: purple 2px solid; */
    /*efecto vidrio templado*/
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.sticky-wrapper > .SizeImg:nth-child(2n+1){/*Impares en las imagenes*/
    z-index: 2;
    width: 100%;
    background: url(../css/img/Fondos_Pagina_Munecos/wave.svg)no-repeat -51em 2em / cover,/*Fondo ondulado de abajo*/
    url(../css/img/Fondos_Pagina_Munecos/wave-Arriba.svg) no-repeat 0em -10em / 113% 100% ;/*Fondo ondulado de arriba*/
}

.sticky-wrapper > .SizeImg:nth-child(2n){/*pares en las imagenes*/
    background: url(../css/img/Fondos_Pagina_Munecos/wave2.svg) no-repeat 0em 10em / cover,/*Fondo ondulado de Abajo*/
    url(../css/img/Fondos_Pagina_Munecos/wave2-Arriba.svg) no-repeat 0em -10em / 113% 100% ;/*Fondo ondulado de arriba*/
    z-index: 2;
    width: 100%;
}

/* Las imágenes se enciman una de otra */
.SizeImg {/*contenedor principal que tiene el titulo de tamaño e imagen*/
    position: absolute; /* Todas en el mismo lugar */
    width: 100%;
    height: 100vh;
    top: 0em;
    display: flex;
    flex-direction: column;
    opacity: 0; /* Ocultas por defecto */
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    transform: 3s ease translateX(100px) linear;
    z-index: 2;
    /* border: #ff0080 2px solid; */
}

.SizeImg img{/*contenedor de imagenes*/
    position: relative;
    width: 30%;
    height: 60vh;
    border-radius: 2em 3em;
    box-shadow: #6d015f 5px 10px 20px;
    z-index: 1;
    /* border: tomato 2px solid; */
}

.FondoOndeado{
    position: absolute;
    z-index: 2;
}

/* Solo la que tiene .active se ve */
.SizeImg.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.scroll-step{
    position: absolute;
    width: 100%;
    height: 100vh;
    align-content: center;
    /* border: yellow 2px solid; */
}

.scroll-step.active{
    opacity: 1;
    transform: translateX(100px) scale(2);
}

/*Termina contenedor de tamaño (sizes)*/

/*Inicio de contenedor de Catalogo*/

.CatalogoXocontainer{
    position: relative;
    width: 100%;
    height: 295vh;
    /* border: #056d01 2px solid; */
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


.ContainerTittleandText{
    position: absolute;
    /* border: #ff0080 2px solid; */
    top: 5em;
}

.TittleCatalogo{
    position: relative;
    height: 30vh;
    /* border: #ff0080 2px solid; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.TittleCatalogo > h3{
    position: relative;
    width: 50%;
    height: 12vh;
    align-content: center;
    text-align: center;
    left: 7em;
    color: var(--Blanco);
    font-family: Lobster;
    font-size: 45px;
    /* border: royalblue 1px solid; */
    /*efecto vidrio templado*/
    background: rgb(224, 7, 195); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(121, 0, 158); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
}

.TextCatalogo{
    position: relative;
    /* border: rgba(235, 2, 122, 0.822) 2px solid; */
    width: 100%;
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    /*efecto vidrio templado*/
    /*efecto vidrio templado*/
    background: rgb(224, 7, 195); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(121, 0, 158); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Blanco);
    padding: 2em;
    font-size: 20px;
    font-family: Playfair_Display;
}

.ImgContainerCatXo{
    position: relative;
    align-content: center;
    height: 250vh;
    top: 15em;
    /* border: red 2px solid; */
    overflow: hidden;
}

.ImgCatXo{
    position: relative;
    display: flex;
    left: 2.5em;
    flex-direction: row;
    height: 55vh;
    /* border: sienna 2px solid; */
    margin: 3em 2em;
    /*efecto vidrio templado*/
    background: rgba(224, 7, 188, 0.37); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(158, 0, 97, 0.39); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 3em;
}

.ImgCatXo > img{
    position: absolute;
    width: 85%;
    top: 1.5em;
    left: 1.3em;
    height: 45vh;
    border-radius: 1em 3em;
    transition: all 2s ease;
    /*efecto vidrio templado*/
    background: rgba(224, 7, 188, 0.37); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(158, 0, 97); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
}

.ImgCatXo > a{/*el la imagen del cuadrado*/
    position: relative;
    width: 100%;
    height: 50vh;
    /* border: #ff0080 solid 2px; */
    z-index: 4;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 1s ease, opacity 1s ease, top 1s ease;
    justify-content: center;
    align-content: center;

    &:hover{
        opacity: 0.8;
        transform: translateY(0);
    }
}

.ImgCatXo > a > img{
    position: relative;
    width: 20%;
    height: auto;
    z-index: 4;
}

.ModalDialog{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: opacity 400ms;
    /* border: yellow 2px solid; */
    overflow: hidden;
    overflow-y: none;
}

.ModalContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* border: #6d015f 2px solid; */
    overflow: hidden;
}

.ModalDialog:target {
	opacity:1;
	pointer-events: auto;
}

html:has(.ModalDialog:target) {/*hace que solo afecte el modalDialog para que al abrir las imagenes en grande no haga scroll*/
    overflow: hidden;
}

.ModalDialog > div > img {
	width: 50%;
	position: relative;
	height: 80vh;
    border-radius: 1em 3em;
    /*efecto vidrio templado*/
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 10px dashed rgb(205, 0, 247); /* Borde tenue */
    /*efecto vidrio templado*/
}

.btn-cerrar > img{
    position: relative;
    width: 100%;
    left: 23.5em;
    bottom: 5em;
    height: 10vh;
    font-size: 40px;
    text-decoration: none;
    z-index: 999;
}

.FlechaDerecha, .FlechaIzquierda {
    flex-shrink: 0; /* Evita que la flecha se aplaste */
    width: 80px;    /* Tamaño fijo para las flechas */
    cursor: pointer;
    z-index: 10;
}

.FlechaDerecha{
    position: absolute;
    /* border: #6d015f 2px solid; */
    width: 14%;
    height: 30vh;
    top: 13em;
    right: 8em;
}

.FlechaDerecha > img{
    position: absolute;
    width: 100%;
    height: 20vh;
    right: 0.1em;
    top: 1.5em;
}

.FlechaIzquierda{
    position: absolute;
    /* border: #6d015f 2px solid; */
    width: 14%;
    height: 30vh;
    top: 13em;
    left: 8em;
    z-index: 4;
    transform: rotate(180deg);
}

.FlechaIzquierda > img{
    position: absolute;
    width: 100%;
    height: 20vh;
    right: 0em;
    top: 1.5em;
}

.buttomMore{
    position: relative;
    width: 100%;
    height: 20vh;

    align-content: center;
    justify-content: center;
    /* border: rgba(255, 0, 128, 0.9) 2px solid; */
}

.buttomMore > a{
    border-radius: 2em;
    padding: 1em;
    /*efecto vidrio templado*/
    background: rgba(224, 7, 188, 0.37); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(158, 0, 97); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Blanco);
    text-decoration: none;
    font-size: 20px;
    font-family: Lobster;
}

/*Fin de Imagenes para adornar fondo de catalogo*/

/*termino de contenedor de Catalogo*/

/*Inicio de contenedor de process*/

.ContainerTittleandTextProcess{
    position: relative;
    /* border: skyblue 2px solid; */
    height: 120vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: start;
    overflow: hidden;
}

.TittleProcess{
    position:relative;
    /* border: yellowgreen 2px solid; */
    height: 20vh;
    text-align: center;
    align-content: center;
    bottom: 1em;
    left: 9em;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(235, 228, 234, 0.829); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 3em;
}

.TittleProcess > h3{
    width: 100%;
    font-size: 50px;
    color: var(--Blanco);
    font-family: Lobster;
}

.TextProcess{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70vh;
    /* border: teal 2px solid; */
}

.textprocess {
    height: 15vh;
    margin: 1.3em 7em;
    /* border: sandybrown 2px solid; */
    text-align: center;
    align-content: center;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(235, 228, 234, 0.829); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 3em;
    font-size: 20px;
    color: var(--Blanco);
    font-family: Playfair_Display;
}

.FlechaProgress{
    position: absolute;
    width: 40%;
    height: 100vh;
    background: url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 20em 14em / 20em,/*1er flecha*/
    url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 13em 5em / 20em,/*2do flecha*/
    url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 0em -4em / 20em,/*3er flecha*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 61em 15em / 20em,/*aguja de texto 1*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 45em 5em / 20em,/*aguja de texto 2*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 25em -4em / 20em;/*aguja de texto 3*/
    z-index: 2;
    /* border: tomato 2px solid; */
    transform: rotate(180deg);
}

.CirculosProcess{
    position: absolute;
    width: 100%;
    height: 120vh;
    background: url(../css/img/Iconos_Xo/CirculoRosaDibujo.png) no-repeat 1em 36em / 10em,/*1er Circulo Rosa*/
    url(../css/img/Iconos_Xo/CirculoRosaDibujo.png) no-repeat 74em 1em / 10em,/*2do Circulo Rosa*/
    url(../css/img/Iconos_Xo/CirculoRosaPintura.png) no-repeat 1em 1em / 20em;/*Circulo principal*/
    /* border: red 2px solid; */
    z-index: 0;
}

/*Termino de contenedor de process*/

/*Inicio de contenedor de Contact*/

.ContainerContactXo{
    position: absolute;
    height: 110vh;
    /* border: yellowgreen 1px solid; */
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.ContainerTextandPXo{
    /* border: slateblue 2px solid; */
    position: relative;
    height: 90vh;
    top: 0em;
}

.TextContactXo{
    position: relative;
    top: 3em;
    left: 5em;
    /* border: rgb(184, 8, 37) 1px solid; */
    width: 70%;
    text-align: center;
    align-content: center;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    filter: drop-shadow(0 2px 10px rgb(128, 1, 128)); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 2em 1em;
    color: var(--Blanco);
    font-size: 18px;
    font-family: Indie_Flower;
}

.Textcontact{
    position: relative;
    top: 2em;
    /* border: slategray 2px solid; */
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-family: Lobster;
    color: var(--Blanco);
}

.IconsXo{
    position: relative;
    top: 5em;
    left: 3em;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 56vh;
    /* border: skyblue 1px solid; */
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /*Sombra ligera*/
    /*efecto vidrio templado*/
    border-radius: 2em 1em;
}

.IconsRed{
    /* border: teal 2px solid; */
    text-align: center;
}

.IconsXo > .IconsRed > a > img{
    /* border: salmon 1px solid; */
    position: relative;
    top: 5em;
    width: 66%;
    height: 20vh;
}

.FormXo{
    position: relative;
    top: 0em;
    right: 3em;
    /* border: springgreen 2px solid; */
    height: 90vh;
    color: var(--Blanco);
}

.dateperson{
    position: relative;
    top: 3.5em;
    /* border: sienna 2px solid; */
    height: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Playfair_Display;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /*Sombra ligera*/
    /*efecto vidrio templado*/
}

.dateperson > .NombreFormXo > input{/*afecta el input donde se pondran los datos*/
    /* border: springgreen 5px solid; */
    width: 65%;
    position: relative;
    left: 1em;
}

.dateformxo{
    position: relative;
    top: 3.4em;
    height: 50vh;
    /* border: teal 2px solid; */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /*Sombra ligera*/
    /*efecto vidrio templado*/
}

.FormXosizeandcomentarie > h3{
    /* border: #6d015f 1px solid; */
    font-size: 22px;
    font-family: Lobster;
}

.sumitformxo{
    position: relative;
    top: -1em;
}
/*Termina el contenedor de Contact*/

/*Inicio de diseño de Footer*/

.FooterXo{
    position: relative;
    display: flex;
    text-align: center;
    /* border: rgba(0,0,0,0.8) 2px solid; */
    height: 80vh;
    background: url(../css/img/Fondos_Pagina_Munecos/FondoFooter2.svg) no-repeat 0em 2em / 160%;
}

.NameXo{
    /* border: yellow 2px solid; */
    position: absolute;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--Rosa-fuerte);
    font-family: Lobster;
    font-size: 28px;
    z-index: 2;
}

.backgroundfooter{
    position: absolute;
    /* border: tomato 2px solid; */
    height: 80vh;
    width: 100%;
    background: url(../css/img/Iconos_Xo/BochasoRosa.png) no-repeat center / 40em;
    z-index: 0;
}

/*Termino de diseño de Footer*/