@font-face{
    font-family: "Indie_Flower";
    src: url(./fonts/Indie_Flower/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Lobster";
    src: url(./fonts/Lobster/Lobster-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Share_Tech";
    src: url(./fonts/Lobster_Pacifico_Share_Tech/Share_Tech/ShareTech-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --Blanco: white;
    --Rosa: pink;
    --Amarillo: yellow;
    --Gris: rgb(131, 131, 131); 
    --Rosa-fuerte: rgb(250, 0, 146);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(19deg,rgba(235, 2, 122, 0.822) 0%, rgba(255, 255, 255, 1) 100%);
}

/*Empieza el estilo del nav y logo*/

.container{
    /* border: pink solid 2px; */
    min-width: 100%;
    height: 100vh;
}

.LogoXo > img{
    width: 30%;
    height: 30vh;
}

.containernav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    /* border: violet 1px solid; */
}

.LogoXo{
    width: 20%;
    height: 17.5vh;
    /* border: yellow solid 1px; */
}

.LogoXo > img{
    position: absolute;
    width: 10%;
    height: 20vh;
    left: 2.1em;
}

.navoption{
    display: flex;
    flex-direction: row;
    gap: 0em;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    width: 99%;
    height: 10vh;
    /* border: yellow solid 1px; */
    padding-top: 3em;
}

.navoption a{
    /* border: steelblue solid 1px; */
    text-decoration: none;
    padding-top: 2em;
    font-size: 18px;
    font-family: Lobster;
    color: var(--Rosa-fuerte);
}

.navoption a:hover{
    border-bottom: var(--Rosa) 3px solid;
    border-radius: 1em;
    color: blueviolet;
}
/*Termina el estilo del nav y logo*/

/*Inicio de edicion de quien soy*/

#WhoamI{
    min-width: 60%;
    height: 100vh;
    background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    overflow: hidden;
}

.containerwho{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 99vh;
    /* border: slateblue solid 1px; */
}

.infwho{/*afecta el contenedor donde alberca el tittle y contenido de texto*/
    display: flex;
    flex-direction: column;
    /* border: steelblue solid 1px; */
    width: 80%;
    height: 100vh;
    align-items: center;
    background: linear-gradient(327deg,rgba(227, 2, 247, 0.589) 0%, rgba(252, 70, 106, 0.5) 100%);
    clip-path: polygon(
    0 0,
    95% 0,
    100% 50%,
    95% 100%,
    0 100%,
    0% 0%
    );
}

.tittlewho{
    width: 60%;
    height: auto;
    /* border: teal solid 1px; */
    justify-content: center;
    text-align: center;
    padding: 3em 0em;
    font-size: 47px;
    font-family: Lobster;
    color: var(--Blanco);
}

.tittlewho > p{
    height: 10vh;
    /*efecto vidrio templado*/
    background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    0 0,
    95% 0,
    100% 50%,
    95% 100%,
    0 100%,
    5% 50%
    );
}

.textwho{
    width: 90%;
    font-size: 25px;
    text-align: center;
    font-family: Indie_Flower;
    background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    box-shadow: 0 4px 30px rgba(80, 3, 76, 0.74); /* Sombra ligera */
    border-radius: 1em;
    color: var(--Blanco);
}

.imgwho{
    width: 50%;
}

.imgwho > img{
    position: absolute;
    width: 20%;
    height: 40vh;
    top: 8em;
    right: 9em;
    /* border: springgreen solid 1px; */
    border-radius: 100%;
    z-index: 3;
    filter: drop-shadow(0px 0px 30px rgb(200, 18, 255));  
    opacity: 0.8;
}

.imgwho > img:nth-child(1){
    position: absolute;
    z-index: 5;
    top: 18em;
    right: 3em;  
    filter: drop-shadow(0px 0px 30px rgb(255, 18, 235));
    opacity: 0.8;  
}

.imgwho > img:nth-child(2){
    position: absolute;
    z-index: 2;
    top: 18em;
    right: 14em;
    filter: drop-shadow(0px 0px 30px rgb(196, 4, 154));  
    opacity: 0.8;
}


/*termino de edicion de quien soy*/

/*Inicio de diseño de objetivo*/

#goals{
    width: 100%;
    /* border:teal solid 1px; */
    height: 100vh;
}

.containerGoals{
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 8em;
    /* border: yellowgreen 1px solid; */
    color: var(--Blanco);
    /*efecto vidrio templado*/
    background: linear-gradient(180deg,rgba(242, 162, 221, 0.829) 0%, rgba(214, 4, 147, 0.418) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 30px rgba(80, 3, 76, 0.74); /* Sombra ligera */
    /*efecto vidrio templado*/
    z-index: 2;
}

.tiitleGoals{
    text-align: center;
    font-size: 30px;
    margin-top: 4em;
    font-family: Lobster;
    border: 1em;
    background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 40px rgba(80, 3, 76, 0.904); /* Sombra ligera */
    z-index: 6;
}

.textGoals{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 95%;
    height: auto;
    top: 4em;
    left: 1.6em; 
    font-size: 20px;
    text-align: justify;
    background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    /*box-shadow: 0 40px 40px rgba(80, 3, 76, 0.925);Sombra ligera */
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
}

.textGoals > p {
    text-align: center;
    margin: 1em;
    padding: 1em 2em;
}

.textGoals > p:nth-child(2){
    padding-top: 3.5em;
}

.ListonGoalsup{
    position: absolute;
    top: 2.4em;
    left: 32.5em;
    width: 22%;
    height: 35vh;
    clip-path: polygon(
    0 0,
    80% 0,
    100% 50%,
    80% 100%,
    0 100%,
    0% 0%
    );
    background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    z-index: 1;
    transform: rotate(90deg);
}

/*Termino de diseño de objetivo*/

/*inicio de diseño de tamaños*/

#sizes{
    width: 100%;
    /* border:teal solid 1px; */
    height: 100vh;
}

.containerSizes{
    display: flex;
    flex-direction: row;
    margin-top: 8em;
    width: 100%;
    height: 100vh;
    /*efecto vidrio templado*/
    background: linear-gradient(180deg,rgba(242, 162, 221, 0.829) 0%, rgba(214, 4, 147, 0.418) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 30px rgba(80, 3, 76, 0.74); /* Sombra ligera */
    /*efecto vidrio templado*/
    text-align: center;
    font-family: Lobster;
    color: var(--Blanco);
}

.sizescontainer{
    padding-top: 10em;
}

.sizescontainer > img{
    width: 80%;
    height: 40vh;
    /*efecto vidrio templado*/
    background: linear-gradient(180deg,rgba(242, 162, 221, 0.829) 0%, rgba(214, 4, 147, 0.418) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 30px rgba(80, 3, 76, 0.74); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 3em 1em;
    z-index: 6!important;
}

.containerSizes > .sizescontainer:nth-child(1){
    position: relative;
    bottom: 8em;
    border-radius: 2em 1em;
}

.containerSizes > .sizescontainer:nth-child(2){
    position: relative;
    top: 9.5em;
    border-radius: 1em 3em;
}

.containerSizes > .sizescontainer:nth-child(3){
    position: relative;
    bottom: 8em;
}

.containerSizes > .sizescontainer:nth-child(4){
    position: relative;
    top: 9.5em;
}

.containerSizes > .sizescontainer:nth-child(5){
    position: relative;
    bottom: 8em;
}

.containerSizes > .sizescontainer:nth-child(6){
    position: relative;
    top: 9.5em;
}

/*Listones*/

.listonsizes1{
    content: "";
    z-index: 1;
    position: absolute;
    width: 70%;
    height: 48vh;
    /*efecto vidrio templado*/
    background: linear-gradient(180deg,rgba(70, 1, 53, 0.596) 0%, rgba(214, 4, 147, 0.418) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    /*efecto vidrio templado*/
    left: 16.1em;
    top: 8em;
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    100% 50%,/*edita el lado derecho el centro*/
    100% 50%,/*afecta el lado derecho abajo*/
    51% 100%,/*afecta el lado izquierdo*/
    0% 50%/*afecta el lado izquierdo*/
    );
    
}

.listonsizes2{
    content: "";
    z-index: 1;
    position: absolute;
    width: 70%;
    height: 45vh;
    right: 16.4em;
    bottom: 9.5em;
    /*efecto vidrio templado*/
    background: linear-gradient(180deg,rgba(70, 1, 53, 0.596) 0%, rgba(214, 4, 147, 0.418) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    50% 0,
    50% 0,/*afecta el lado derecho arriba*/
    100% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0% 100%,/*afecta el lado izquierdo*/
    0% 50%/*afecta el lado izquierdo*/
    );
}

/*fin de listones*/

/*termino de diseño de tamaños*/

/*inicio de diseño de trabajos realizados*/

#catalog{
    width: 100%;
    height: 320vh;
}

.imgcontainer{
    /* border: yellow solid 1px; */
    position: relative;
    display: flex;
    flex-direction:column;
    gap: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 8em;
    max-width: 99.9%;
    height: 284.5vh;
    /* border: yellowgreen solid 1px; */
    /*efecto vidrio templado*/
    background: linear-gradient(180deg,rgba(242, 162, 221, 0.829) 0%, rgba(214, 4, 147, 0.418) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 30px rgba(80, 3, 76, 0.74); /* Sombra ligera */
    /*efecto vidrio templado*/
    z-index: 6;
}

.imagencontainer{
    /* border: teal solid 2px; */
    position: relative;
    width: 20%;
    height: 56vh;
    top: 5em;
}

.onelineimgcontainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 97%;
    height: 50vh;
    padding: 3em 1.5em;
}

.twolineimgcontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    padding-top: 30em;
}

.imagenprueba{/*contiene los div de imagen viene el a y el img*/
    width: 100%;
    height: 56vh;
    /* border: red 2px solid; */
}

.imagenprueba > a > img{/*acfecta directamente las imagenes*/
    border-radius: 1em 2em;
    max-width: 100%;
    height: 55vh; 
}

.imagenprueba a > img:nth-child(2n){
    border: steelblue solid 2px;

}


/*efecto de la ventana flotante al hacer click en la imagen*/

.ImgWork1{
    width: 20%;
    height: 50vh;
}

.WindowsImgWork1{
    display: none;
}

.WindowsImgWork1:hover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.082);
    align-items: center;
}

/*Termina efecto de la ventana flotante al hacer click en la imagen*/

.bandera1{
    position: absolute;
    z-index: 1;
    background: rgb(150, 1, 142); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /* border: yellow solid 1px; */
    width: 100%;
    top: 151.1em;
    height: 120vh;
    clip-path: polygon(
    0 0,
    100% 0,/*lado derecho*/
    70% 100%,
    0% 100%,/*lado derecho abajo*/
    30% 100%,/*lado izquierdo abajo*/
    0% 0%/*lado izquierdo arriba*/
    );
}

.bandera2{
    position: absolute;
    z-index: 1;
    background: rgb(150, 1, 142); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /* border: yellow solid 1px; */
    width: 100%;
    height: 165vh;
    top: 200em;
    clip-path: polygon(
    0 0,
    70% 0,/*lado derecho arriba*/
    100% 100%,
    0% 100%,/*lado derecho abajo*/
    0% 100%,/*lado izquierdo abajo*/
    30% 0%/*lado izquierdo arriba*/
    );
}

.buttomFurther > img{
    width: 40px;
    height: 5vh;
}

.buttomFurther{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 6;
    width: 10%;
    height: 40vh;
    left: 38em;
    bottom: 7em;
    gap: 10px;
}

.buttomFurther > a > input{
    width: 100%;
    height: 5vh;
    border-radius: 2em;
    filter: drop-shadow(5px 4px 10px rgb(254, 252, 255));
}
/*termino de diseño de trabajos realizados*/

