@font-face{
    font-family: "Indie_Flower";
    src: url(./fonts/Indie_Flower/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Lobster";
    src: url(./fonts/Lobster/Lobster-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Share_Tech";
    src: url(./fonts/Lobster_Pacifico_Share_Tech/Share_Tech/ShareTech-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --Blanco: white;
    --Rosa: pink;
    --Amarillo: yellow;
    --Gris: rgb(131, 131, 131);
    --Rosa-fuerte: rgb(250, 0, 146);
}


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(19deg,rgba(235, 2, 122, 0.822) 0%, rgba(255, 255, 255, 1) 100%);
    user-select: none;
}


/*Inicia estilo del menu y el logo de XO*/

.container-xxl{/*contenedor donde viene el logo y el menu*/
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 15vh;
    /* border: slategrey 3px solid; */
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 42em;
}

.ImgLogoXo > img{/*afecta la imagen del logo directamente*/
    position: absolute;
    width: 8%;
    height: 15vh;
    top: 2px;
    left: 3em;
    z-index: 9;
}

nav{
    position: sticky;
    /* border: #ff0080 2px solid; */
    z-index: 999;
    top: 0;
    width: 100%;
    /* background: var(--Blanco); */
}

.nav-principal{
    transition: all 0.3s ease;
}

.is-scrolled{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
}


.MenunavXo > ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 80%;
    list-style: none;
    margin: 2em 6em;
    /* border: yellow 1px solid; */
}

.MenunavXo > ul > li > a{
    text-decoration: none;
    color: var(--Rosa-fuerte);
    font-size: 1em;
    font-family: Lobster;
}

.MenunavXo > ul > li > a:hover{
    border-bottom: 2px solid var(--Rosa-fuerte);
    border-radius: 1em;
}

/*Inicia estilo del menu y el logo de XO*/

.container-fluid{
    max-width: 100%;
    height: 100vh;
    /* border: yellow 2px solid; */
    margin-bottom: 12em;
}

#CatalogXo > .container-fluid:nth-child(1){/*se puso para separar el contenedor de catalogo con ubicacion solo afecta ese*/
    /* border: orange 2px solid; */
    margin-bottom: 70em;
}

/*Contenedor de Who empieza el diseño*/

.ContainerWhoXo{
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* border: violet 2px solid; */
    background: url(./img/TrabajosXo/ImagenWho1.jpeg) no-repeat center / 100% 100vh;
    /*efecto vidrio templado*/
    /*background: rgba(235, 1, 184, 0.192); /* Blanco con transparencia 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue 
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
}



.ContainerTextAndTittle{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    width: 80%;
    /* border: seagreen 1px solid; */
    overflow: hidden;
    font-size: 25px;
    padding-top: 5em;
    /*efecto vidrio templado*/
    /*background: rgba(235, 1, 184, 0.274); /* Blanco con transparencia 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari 
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue 
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(
    0 0,
    95% 0,
    100% 50%,
    95% 100%,
    0 100%,
    0% 0%
    );
    background: url(./img/Imagen_fondos/Fondo_Tejido2.png)/*imagen de fondo para Who*/
    no-repeat
    2em 1em;
}

/*Contenedor de tittle y texto*/

.ContainerTextAndTittle > .TittleWhoXo{
    /* border: springgreen 1px solid; */
    width: 40%;
    height: 10vh;
    margin-left: 5.5em;
    padding-top: 1px;
    /*efecto vidrio templado*/
    background: rgba(242, 243, 245, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    box-shadow: 0 4px 32px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Blanco);
    font-family: Lobster;
    font-size: 38px;
    border-radius: 1em 2em;
}

.ContainerTextAndTittle > .TextWhoXo{
    width: 70%;
    height: 40vh;
    /* border: springgreen 1px solid; */
    margin-left: 4em;
    /*efecto vidrio templado*/
    background: rgba(242, 243, 245, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Blanco);
    font-family: Indie_Flower;
    font-size: 22px;
    text-align: justify;
    border-radius: 1em 2em;
}

.ContainerTextAndTittle > .TextWhoXo > p{
    /* border: yellow 1px solid; */
    width: 90%;
    margin: 2.5em 1em;
}

.ImgWhoXo{
    /* border: plum 1px solid; */
    margin: 3em;
    width: 50%;
    padding-left: 5px;
    background: url(./img/Imagen_fondos/FondoTejido-removebg-preview.png)
    no-repeat
    center / 35em;/*imagen de fondo para Who*/
}

.ImgWhoXo > img{
    width: 40%;
    height: 40vh;
}

.ImgWhoXo > img:nth-child(1){/*Flores de tejido*/
    position: absolute;
    width: 15%;
    height: 30vh;
    border-radius: 100%;
    right: 8em;
    bottom: 10.5em;
    filter: drop-shadow(0 0 20px rgb(184, 8, 37));
    opacity: 0.8;
}

.ImgWhoXo > img:nth-child(2){/*Muñeco de Spiderman*/
    position: absolute;
    width: 15%;
    height: 30vh;
    border-radius: 100%;
    right: 11em;
    bottom: 19em;
    filter: drop-shadow(0 0 20px rgb(184, 8, 37));
    opacity: 0.8;
}

.ImgWhoXo > img:nth-child(3){/*Tejido de cabeza de muñeco*/
    position: absolute;
    width: 15%;
    height: 30vh;
    border-radius: 100%;
    top: 18em;
    right: 14em;
    filter: drop-shadow(0 0 20px rgb(184, 8, 37));
    opacity: 0.8;
}

/*Contenedor de tittle y texto*/


/*Contenedor de Who termina el diseño*/


/*Contenedor de AimXO Inicia el diseño*/

.ContainerAim{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    /* border: slategrey 2px solid; */
    background: url(./img/Imagen_fondos/tejido-de-punto-Fondo1.png) /*primer icono de estambre esta de lado superior izquierdo*/ no-repeat 13em /*lo mueve de izquierda a derecha*/ 7em /*de arriba hacia abajo*// 8em /*Tamaño*/,
    url(./img/Imagen_fondos/tejido-de-punto-Fondo1.png) /*segundo icono de estambre esta enmedio abajo*/ no-repeat 38em /*lo mueve de izquierda a derecha*/ 31em /*de arriba hacia abajo*// 8em, /*Tamaño*/
    url(./img/Imagen_fondos/tejido-de-punto-Fondo1.png) /*tercer icono de estambre esta de lado superior derecho*/ no-repeat 62em /*lo mueve de izquierda a derecha*/ 7em /*de arriba hacia abajo*// 8em; /*Tamaño*/
    z-index: 0;
}


.ContainerAim, .TittleAim, .TextAim{
    /* border: royalblue 2px solid; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 6;
}

.TittleAim{
    /* border: skyblue 1px solid; */
    height: 30vh;
    width: 40%;
    text-align: center;
    justify-content: center;
    color: var(--Blanco);
    margin-left: 25em;
}

.TittleAim > h3{
    font-size: 38px;
    font-family: Lobster;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
}

.TextAim{
    /* border: slateblue 1px solid; */
    height: 60vh;
    width: 100%;
    color: var(--Blanco);
    font-family: Indie_Flower;
    font-size: 22px;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
    text-align: center;
    justify-content: center;
}

.TextAim > p{
    width: 90%;
    margin: 3em;
}

.Icon1Aim{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;/*afecta los iconos del tejido lo pone arriba del contenedor de texto*/

    background:url(./img/Imagen_fondos/tejido-Costura-Fondo1.png) no-repeat 2em 8em / 8em /*tamaño*/;

    background-position: 75em 30em,/*Imagen de icono de costura que esta abajo a la derecha*/
    1em 8em;/*Imagen de icono de costura que esta arriba a la izquierda*/

    transform: scaleX(-1);
    /* border: 2px solid red; */
}

.Icon1Aim::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url(./img/Imagen_fondos/tejido-Costura-Fondo1.png) no-repeat 2em 8em / 8em /*tamaño*/;

}

/*Contenido de las flechas de fondo*/

.FlechaAim1{
    content: "";
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 70vh;
    left: 29.4em;
    top: 58em;
    background: var(--Rosa-fuerte);
    clip-path: polygon(
    0 0,
    80% 0,
    100% 50%,
    80% 100%,
    0 100%,
    0% 0%
    );
    transform: rotate(90deg);
}


/*Contenedor de AimXO termina el diseño (Aim)*/

/*inicia contenedor de tamaño (sizes)*/

.ContainerSizes{
    /* border: sandybrown 2px solid; */
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /*efecto vidrio templado*/
    background: rgba(235, 1, 184, 0.192); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(245, 3, 225, 0.247); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
}

.SizesXo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* border: palegreen 1px solid; */
    background: url(./img/Imagen_fondos/ListoFondo.png) no-repeat 0em 0em / 100em 30em,
    url(./img/Imagen_fondos/Liston2fondo-.png) center;
}

.TittleSizeXo{
    width: 100%;
    height: 15vh;
    /* border: springgreen 1px solid; */
    text-align: center;
    justify-content: center;
}

.TittleSizeXo > h3{
    /* border: rgb(184, 8, 37) 1px solid; */
    margin: 1em;
    font-size: 40px;
    color: var(--Blanco);
    font-family: Lobster;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 2em 1em;
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
}

.ContainerImgSize{
    display: flex;
    flex-direction: row;
    height: 85vh;
    /* border: rgb(250, 0, 146) solid 2px; */
}

.SizeImg{/*viene o se agrego los estilos para la letra de los tamaños aqui*/
    text-align: center;
    color: var(--Blanco);
    font-family: Indie_Flower;
    /* border: orangered solid 2px; */
    width: 50%;
    height: 80vh;
    margin-top: 4em;
}

.SizeImg > img{
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 2em;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(0 0 20px white);
}

/*contenedor donde esta el titulo y imagen*/

.SizeImg:nth-child(1) img{
    position: relative;
    width: 80%;
    height: 28vh;
    border: white 2px solid;
}

.SizeImg:nth-child(2) img{
    position: relative;
    width: 80%;
    height: 30vh;
    border: white 2px solid;
}

.SizeImg:nth-child(3) img{
    position: relative;
    width: 80%;
    height: 35vh;
    border: white 2px solid;
}

.SizeImg:nth-child(4) img{
    position: relative;
    width: 85%;
    height: 40vh;
    border: white 2px solid;
}

.SizeImg:nth-child(5) img{
    position: relative;
    top: 0.5em;
    width: 85%;
    height: 45vh;
    border: white 2px solid;
}

.SizeImg:nth-child(6) img{
    position: relative;
    width: 85%;
    height: 50vh;
    border: white 2px solid;
}

.SizeImg:nth-child(7) img{
    position: relative;
    width: 85%;
    height: 55vh;
    border: white 2px solid;
}

/*fin contenedor donde esta el titulo y imagen*/

/*Termina contenedor de tamaño (sizes)*/

/*Inicio de contenedor de Catalogo*/

.CatalogoXocontainer{
    width: 100%;
    height: 310vh;
    /* border: royalblue 2px solid; */
}

.ImgContainerCatXo{
    position: absolute;
    width: 88%;
    min-height: auto;
    gap: 2em;
    margin: 5em;
    top: 165em;
    /* border: steelblue 2px solid; */
    z-index: 99;
    overflow: hidden;
}

.ImgContainerCatXo > img{/*impacta las imagenes del catalogo*/
    width: 25%;
    height: 50vh;
    margin: 0em 2.7em;
    border-radius: 3em;
    /* border: springgreen 1px solid; */
    overflow: hidden;
    background: linear-gradient(135deg,#ff0080,#7928ca,#00c6ff);
}

.TittleCatalogo{
    position: absolute;
    text-align: center;
    left: 18em;
    /* border: wheat 2px solid; */
    height: 20vh;
    width: 60%;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
    color: var(--Blanco);
    z-index: 99;
}

.TittleCatalogo > h3{
    padding-top: 7px;
    font-family: Lobster;
    font-size: 45px;
}

.TittleCatalogo > p{
    font-family: Indie_Flower;
    font-size: 20px;
}

.ImgContainerCatXo > img:nth-child(2n){/*pares los contenedores de img impares*/
    /* border: yellow 1px solid; */
    height: 70vh;
    margin-bottom: 3.9em;
}

.ImgContainerCatXo > img:nth-child(2n+1){/*selecciona los contenedores de img impares*/
    /* border: steelblue 1px solid; */
    height: 50vh;
    margin-bottom: 11.9em;
}

.ImgContainerCatXo > img:nth-child(4){
    position: relative;
    height: 50vh;
    bottom: 12em;
}

.ImgContainerCatXo > img:nth-child(6){
    position: relative;
    height: 50vh;
    bottom: 12em;
}

.ImgContainerCatXo > img:nth-child(7){
    position: relative;
    height: 50vh;
    bottom: 16em;
}

.ImgContainerCatXo > img:nth-child(8){/*pares los contenedores de img impares*/
    position: relative;
    height: 70vh;
    bottom: 8em;
}

.ImgContainerCatXo > img:nth-child(9){/*pares los contenedores de img impares*/
    position: relative;
    height: 50vh;
    bottom: 16em;
}

/*Imagenes para adornar fondo de catalogo*/

.FondoCatalogoXo{
    position: absolute;
    width: 100%;
    height: 250vh;
    background: url(./img/Imagen_fondos/FondoCorazonTejidoXo2.png) center / 20em;/*Imagen de bola de estrambre dentro de circulo*/
    /* border: springgreen 1px solid; */
    z-index: 1;
}

/*Fin de Imagenes para adornar fondo de catalogo*/

/*termino de contenedor de Catalogo*/

/*Inicio de contenedor de Contact*/

.ContainerContactXo{
    /* border: yellowgreen 1px solid; */
    overflow: hidden;
    margin: 4em;
    display: flex;
    flex-direction: row;
}

.TextContactXo{
    /* border: rgb(184, 8, 37) 1px solid; */
    width: 90%;
    text-align: center;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    filter: drop-shadow(0 2px 10px rgb(128, 1, 128)); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 2em 1em;
    color: var(--Blanco);
    font-size: 20px;
    font-family: Indie_Flower;
}

.Textcontact{
    /* border: slategray 2px solid; */
    margin: 1em;
    font-size: 20px;
    font-family: Lobster;
    color: var(--Blanco);
}

.IconsXo{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 49vh;
    margin: 2em 0em;
    /* border: skyblue 1px solid; */
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 1px solid rgba(176, 3, 245, 0.418); /* Borde tenue */
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 2em 1em;
}

.IconsRed{
    width: 100%;
    text-align: center;
}


.IconsXo > .IconsRed > a > img{
    /* border: salmon 1px solid; */
    width: 50%;
    height: 35vh;
    margin: 1em;
}

.FormXo{
    width: 80%;
    height: 75vh;
    /* border: teal 1px solid; */
    text-align: center;
    color: var(--Blanco);
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    /* border: sandybrown 1px solid; */
    width: 88%;
    height: 60vh;
    justify-content: center;
    margin: 2em;
}

.NombreFormXo > input{
    /* border: springgreen 1px solid; */
    margin-left: 3em;
}

.NombreFormXo > input:nth-child(2){
    color: var(--Rosa-fuerte);
}






/*Termina el contenedor de Contact*/
