@font-face{
    font-family: "Indie_Flower";
    src: url(./fonts/Indie_Flower/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{/*letra para titulos*/
    font-family: "Lobster";
    src: url(./fonts/Lobster/Lobster-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Share_Tech";
    src: url(./fonts/Lobster_Pacifico_Share_Tech/Share_Tech/ShareTech-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{/*Letra para texto*/
    font-family: "Playfair_Display";
    src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --Blanco: white;
    --Rosa: pink;
    --Amarillo: yellow;
    --Gris: rgb(131, 131, 131);
    --Rosa-fuerte: rgb(250, 0, 146);
    --Rosa-Para-Letra: rgb(150, 6, 118);
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(19deg,rgba(235, 2, 122, 0.822) 0%, rgba(255, 255, 255, 1) 100%);
    user-select: none;
}

body.dark-mode{
    color: var(--Blanco);
}

.nav-open{
    background-color: white;
}

/*Boton modo oscuro y modo claro*/

/* El contenedor del switch */

.container-switch{
    /* border: rgba(245, 0, 204, 1) 2px solid; */
    max-width: 100%;
    height: 13vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.switch{/*se puede mover el boton del tema*/
    position: absolute;
    display: flex;
    right: 11%;
    top: 45%;
    max-width: 8.9% !important;
    min-height: 6vh;
    overflow: hidden;
    /* border: #6d015f solid 3px; */
}

.switch input{
    opacity: 0;
    width: 10%;
    height: 4.6vh;
}

.checkbox{
    border: teal 1px solid;
}

.slider{/*contenedor que tiene adentro el boton*/
    position: static;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: .4s;
    border: 34px;
    width: 100%;
    min-height: 4.7vh;
    border-radius: 2em;
    /* border: #88ce02 1px solid; */
}

.slider::before{/*boton blanco del modo claro*/
    position: absolute;
    content: "";
    height: 26px;width: 26px;
    left: 9px; bottom: 0; top: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.mode-black-slider{/*Boton de contenedor de modo negro*/
    background: white!important;
}

.mode-black-slider::before{
    position: absolute;
    content: "";
    height: 27px;width: 27px;
    left: 4px;top: 1px;
    background-color: black;
    transition: .4s;
    border-radius: 50%;
}

.dark-mode{
    background: #000;
}

input:checked + .slider{
    background-color: white;
}

input:checked + .slider:before {
    background: #000;
    transform: translateX(26px);
}

/*termina el modo de tema*/

/*Inicia estilo del menu, el logo de XO y who*/

main{
    overflow: hidden;
}

.container-xxl{/*contenedor donde viene el logo y el menu*/
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 15vh;
    align-items: center;
    padding: 0 3em;
    margin: 0;
    justify-content: space-between;
}

.container-fluid{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    /* border: yellow 2px solid; */
    margin-bottom: 10%;
    overflow: hidden;
}

#CatalogXo > .container-fluid:nth-child(1){
    /* border: yellow solid 2px; */
    height: 320vh;
}

#ContactXo > .container-fluid:nth-child(1){
    /* border: orange solid 2px; */
    height: 105vh;
}

/*Inicio Diseño de menú*/

.ImgLogoXo{
    position: relative;/*siempre debe de tener position absolute*/
    display: flex;
    justify-content: center;/*para que aplique el centrar el contenido*/
    align-items: center;
    /* border: orange 2px solid; */
    min-width: 20%;
    max-height: 100vh;
}

.ImgLogoXo > img{
    position: relative;
    display: flex;
    width: 38%;
    left: -8%;
    top: 0%;
    max-height: 30vh;
    /* border: #000 2px solid; */
}

.navxo{
    position: relative;
    display: flex;
    max-width: 100%;
    min-width: 120vh;
}

.OptionandLogoMenu{
    position: relative;
    display: grid;
    grid-template-columns: 44% 55%;
    grid-auto-rows: 40vh;
    grid-auto-flow: row;
    min-width: 100%;
    /* border: #00c6ff 2px solid; */
}

.OptionMenu{
    position: relative;
    display: grid;
    grid-template-rows: 42% 59%;
    grid-template-columns: 99%;
    min-width: 80%;
    max-height: 30vh;
    /* border: red 2px solid; */
    top: 0;
    left: 0;
    justify-content: start;
    align-items: center;
    align-content: start;
}

.navoption{
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 15vh;
    gap: 25px;
    /* border: blue 2px solid; */
    margin: 0;
    padding: 0;
    align-items: center;
}

.navoption > li{
    position: relative;
    /* border: lime 2px solid; */
    font-size: 15px;
    min-width: 10%;
    max-height: 10vh;
    list-style: none;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.navoption > li > a{
    /* border: #000 2px solid; */
    text-decoration: none;
    width: 20%;
    min-height: 30vh;
    font-family: Lobster;
    color: var(--Rosa-fuerte);
}

.nav-button{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: none;
}

.iconhamburger{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.iconhamburger{
    /* border: #88ce02 2px solid; */
    display: none;
}

/*Fin Diseño de menú*/

/*Efecto de menu en seguimiento*/

.is-scrolled{
    position: fixed;
    background: var(--Blanco);
    display: grid;
    grid-template-columns: 46%;
    grid-auto-rows: minmax(100%);
    top: 0;
    left: 0;
    z-index: 999;
    min-width: 100%;
    height: 10vh;
    animation: bajarMenu 0.5s forwards;
    /* border: #88ce02 2px solid; */
}

@keyframes bajarMenu{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

.is-scrolled .ImgLogoXo > img{
    top: 3px !important;
    left: 0px;
}

.is-scrolled .ImgLogoXo{
    /* border: blue 1px solid; */
    height: 9.5vh;
}

.is-scrollednavimg{
    max-width: 18%;
    position: relative!important;
    top: 0px!important;
    /* border: yellow 2px solid; */
}

.scroll-containeroption{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: #88ce02 2px solid; */
}

.is-scrolled .OptionandLogoMenu{
    display: grid;
    grid-template-columns: 55% 135%;
    grid-auto-rows: 10vh;
}

.is-scrolled .OptionMenu{
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row-reverse;
    min-width: 100%;
}

.is-scrolled .container-switch{
    /* border: springgreen 2px solid; */
    min-width: 12%!important;
    height: 10vh;
    justify-content: right;
    align-items: center;
}

.is-scrolled .switch{
    /* border: yellow 2px solid; */
    min-width: 70%;
    height: 7vh;
    right: 25%;
    top: -1px;
}

.is-scrolled .slider{
    max-width: 88%;
    height: 4.9vh;
    left: 3px;
    top: 0px;
    border: 1px solid rgb(90, 89, 89);
}

.is-scrolled .slider::before{
    max-width: 100%;
    top: 2.5px;
    /* border: teal 1px solid; */
}

.is-scrolled .mode-black-slider::before{
    top: 2.3px;
}

/* Evita que el contenido brinque */

/* Cuando el navbar tenga la clase activa, al main le damos un empujón */
#navbar.is-scrolled + .ContainerTextAndTittleWhoXo {
    padding-top: 10vh; 
}

/*terminade menu en seguimiento*/

/*inicio diseño de imagenes de contenedor menú y who*/


.ImgWhoXo > img{
    width: 53%;
    height: 30vh;
    display: block;/*Elimina los espacios en linea que tiene la imagen*/
    box-sizing: border-box;/*adapanta el border y pading se inclya en la dimesion de la imagen*/
    object-fit: cover;/*asegura que la imagen cubra su caja sin deformarse; recorta los bordes si es necesario manteniendo la proporción.*/
    border-radius: 50%;/*pone el borde en un 55% adaptandolo a la imagen*/
    border: 6px dashed rgba(255, 0, 128, 0.9); /* borde circular que sigue la forma*/
    background-clip: padding-box; /* evita que la imagen se solape con el borde */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/*fin de diseño de imagenes de contenedor menú y who*/

/*Inicia el diseño de Contenedor de tittle and text for Who*/

.ContainerWhoXo{
    position: relative;
    min-width: 100%;
    max-height: 120vh;
    display: flex;
    flex-direction: column;
    background: url(./img/Fondos_Pagina_Munecos/FondoWho3.jpg) no-repeat center / 120% 150vh;
    /* border: violet 2px solid; */
    overflow: hidden;
}

.the-containercontactXo{
    background: none;
}

.ContainerTextAndTittleWhoXo{
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 100vh;
    /* border: red 2px solid; */
    align-items: center;/*centra los contenedores de texto y titulo*/
    justify-content: center;
    gap: 2em;
}

.TittleWhoXo{
    position: relative;
    display: flex;
    width: 25%;
    /* border: #6d015f solid 1px; */
    transform: translate(800px, -400px);
    opacity: 0;
}

.TittleWhoXo > h3{/*contenedor del titulo afecta el h3 directamente*/
    position: relative;
    width: 100%;
    height: 50vh;
    justify-content: center;
    text-align: center;
    align-content: center;/*alinia el texto en medio del contenedor*/
    font-size: 40px;
    color: var(--Blanco);
    font-family: "Lobster";
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 2em;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
    padding: 10%;
}

.TextWhoXo{/*contenedor del texto*/
    position: relative;
    display: flex;
    height: 50vh;
    max-width: 25%;
    /* border: salmon 2px solid; */
    transform: translate(800px, -400px);
    opacity: 0;
}

.TextWhoXo > p{/*se puede mover el texto dentro del contenedor*/
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50vh;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Blanco);
    font-size: 18px;
    font-family: Playfair_Display;
    border-radius: 1em 2em;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
    padding: 10%;
}

.scrollimgwho{
    /* border: #6d015f 3px solid; */
    position: absolute;
    padding-top: 3em;
}

.ImgWhoXo{/*contenedor de las imagenes*/
    height: 51vh;
    width: 32%!important;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: #ff0080 1px solid; */
    filter: drop-shadow(0 0 10px rgb(139, 1, 116));
}

.ImgWhoXo > img:nth-child(1){/*Ramo de flores*/
    position: absolute;
    top: 0;
    transform: translate(300px, -200px);
    opacity: 0;
}

.ImgWhoXo > img:nth-child(2){/*Muñeco de spiderman*/
    position: absolute;
    left: 0em;
    top: 41%;
    transform: translate(360px, -300px);
    opacity: 0;
}

.ImgWhoXo > img:nth-child(3){/*Llavero de cabeza*/
    position: absolute;
    top: 41%;
    left: 46%;
    transform: translate(200px, -310px);
    opacity: 0;
}


/*Fin el diseño de Contenedor de tittle and text for Who*/


/*Contenedor de AimXO Inicia el diseño*/

.ContainerAimXo{
    position: relative;
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    /* border: rgba(224, 7, 188, 0.37) 2px solid; */
}

.ContainerTittleandTextAimXo{
    position: relative;
    /* border: royalblue 1px solid; */
    max-width: 100%;
    height: 120vh;
    gap: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 6em 3em / 5em 5em,/*primero icono de parche arriba a la izquieda*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 40em 15em / 5em 5em,/*segundo parche de enmedio de arriba*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 73em 3em / 5em 5em,/*tercer parche arriba a la derecha*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 40em 30em / 5em 5em,/*cuarto parche abajo de enmedio*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 6em 39em / 5em 5em,/*quinto parche abajo de enmedio*/
    url(../css/img/Iconos_Xo/ParcheXo.png) no-repeat 73em 39em / 5em 5em,/*sexto parche abajo de derecha*/
    url(../css/img/Iconos_Xo/Circulo_Xo.png) no-repeat 10em 20em / 10em 10em,
    url(../css/img/Iconos_Xo/Circulo_Xo.png) no-repeat 63em 20em / 10em 10em;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.ImgAimXo > img{
    position: absolute;
    width: 18%;
    left: 42%;
    top: 15%;
}

.TittleAimXo{
    position: relative;
    /* border: sandybrown 1px solid; */
    width: 100%;
    height: 30vh;
    margin: 3px 0px;
    padding: 0;
    display: flex;
    text-align: center;
    align-content: center;
    color: var(--Blanco);
    font-family: Lobster;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
}

.TittleAimXo > h3{
    position: relative;
    width: 40%;
    height: 12vh;
    align-content: center;
    background: var(--Rosa-fuerte);
    filter: drop-shadow();
    display: block;/*Elimina los espacios en linea que tiene la imagen*/
    box-sizing: border-box;/*adapanta el border y pading se inclya en la dimesion de la imagen*/
    object-fit: cover;/*asegura que la imagen cubra su caja sin deformarse; recorta los bordes si es necesario manteniendo la proporción.*/
    border: 6px dashed rgba(255, 0, 128, 0.9); /* borde circular que sigue la forma*/
    background-clip: padding-box; /* evita que la imagen se solape con el borde */
    font-size: 38px;
    justify-content: center;
    transform: translateX(-400px);
    opacity: 0;
}

.ContainerTextAimXo{
    position: relative;
    /* border: orange 2px solid; */
    margin-bottom: 15em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.tittle-aimXo-text{
    /* border: yellowgreen 1px solid; */
    width: 100%;
    height: 10vh;
    color: var(--Blanco);
    font-family: Lobster;
    justify-content: center;
    align-content: center;
}

.TextAim{/*contenedor donde viene el texto de Aim*/
    position: relative;
    /* border: #ff0080 10px solid; */
    margin: 2em;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20%;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(245, 3, 213, 0.418); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    bottom: 1.5em;
    border-radius: 1em 2em;
}

.TextAim > h3{
    position: relative;
    /* border: yellow 1px solid; */
    top: 15%;
}

.TextAim > p{
    position: relative;
    color: var(--Blanco);
    font-family: Playfair_Display;
    padding: 10%;
    bottom: 20px;
}

.ContainerTextAimXo > .TextAim:nth-child(1){
    transform: translateX(-400px);
    opacity: 0;
}

.ContainerTextAimXo > .TextAim:nth-child(2){
    transform: translateX(-400px);
    opacity: 0;
}

.ContainerTextAimXo > .TextAim:nth-child(3){
    transform: translateX(-400px);
    opacity: 0;
}

/*Termina la animacion de AIM en el contenedor de tittle y text*/

/*Contenedor de AimXO termina el diseño (Aim)*/

/*inicia contenedor de tamaño (sizes)*/

.ContainerSizesXo{
    /* border: lightgreen 2px solid; */
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: dashed 5px var(--Rosa-fuerte);
    border-radius: 2em;
    background: linear-gradient(229deg,rgba(245, 0, 204, 1) 0%, rgba(48, 179, 164, 0) 12%, rgba(48, 179, 164, 0) 89%, rgba(245, 0, 204, 1) 98%), linear-gradient(304deg,rgba(245, 0, 204, 1) 0%, rgba(48, 179, 164, 0) 12%, rgba(48, 179, 164, 0) 89%, rgba(245, 0, 204, 1) 98%);
}

.ContainerTittleandSizesXo{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(100px);
    opacity: 0;
}

.TittleSizeXo{
    position: relative;
    display: flex;
    max-width: 100%;
    left: 2em;
    height: 20vh;
    padding: 0;
    margin: 0;
    /* border: seagreen 2px solid; */
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.TittleSizeXo > h3{
    font-size: 45px;
    color: var(--Blanco);
    font-family: Lobster;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.ContainerImgSizeXo{
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    /* border: #000 3px dashed; */
    overflow: hidden;
    justify-content: center;/*centra el contenido*/
    border-radius: 2em;
}

.gallery{
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.cards{
    position: absolute;
    width: 14rem;
    height: 25rem;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards li{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 18rem;
    aspect-ratio: 9/16;
    text-align: center;
    line-height: 20rem;
    font-size: 2rem;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    border: 4px dashed var(--Rosa-fuerte);
    box-shadow: 0 0 20px var(--Rosa-fuerte);
    color: var(--Blanco);
    font-family: Playfair_Display;
}

.actions{
    position: absolute;
    bottom: 7%;
    left: 52.5%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.actions button{/*afecta los contenedores de los botones se le puede dar estilo en estos*/
    min-width: 80%;
    min-height: 6vh;
    border-radius: 3em;
    background-color: var(--Rosa-fuerte);
    color: var(--Blanco);
    font-family: Playfair_Display;
}

a{
    color: #88ce02;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.drag-proxy{
    visibility: hidden;
    position: absolute;
}

/*termina la animacion del size*/

/*Inicio de contenedor de Catalogo*/

.CatalogoXocontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 290vh;
    /* border: #056d01 2px solid; */
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 2em;
    /* border: 5px dashed var(--Rosa-fuerte); */
    background: linear-gradient(90deg,rgba(224, 9, 70, 0.6) 0%, rgba(163, 29, 253, 0) 50%, rgba(199, 26, 130, 0.59) 100%);
}


.ContainerTittleandTextCatalogo{
    position: relative;
    display: flex;
    min-width: 100%;
    height: 60vh;
    flex-direction: column;
    /* border: yellow 2px solid; */
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.TittleCatalogo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    height: 20vh;
    /* border: #ff0080 2px solid; */
    transform: translateX(-400px);
    opacity: 0;
}

.TittleCatalogo > h3{
    position: relative;
    width: 30%;
    height: 12vh;
    display:flex ;
    color: var(--Blanco);
    font-family: Lobster;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    /* border: royalblue 1px solid; */
    background: rgb(224, 7, 195); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(121, 0, 158); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    clip-path: polygon(/*figura de liston*/
    0 0,
    100% 0,/*afecta el lado derecho arriba*/
    97% 50%,/*edita el lado derecho el centro*/
    100% 100%,/*afecta el lado derecho abajo*/
    0 100%,/*afecta el lado izquierdo*/
    4% 50%/*afecta el lado izquierdo*/
    );
}

.TextCatalogo{
    display: flex;
    position: relative;
    /* border: rgba(235, 2, 122, 0.822) 2px solid; */
    max-width: 100%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: var(--Blanco);
    padding: 2em;
    font-size: 20px;
    font-family: Playfair_Display;
    transform: translateX(900px);
    opacity: 0;
}

.TextCatalogo > p{
    max-width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    /* border: royalblue 1px solid; */
    background: rgb(224, 7, 195); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(121, 0, 158);/* Borde tenue*/
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
}

.ImgContainerCatXo{
    position: relative;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-auto-rows: 400px;
    max-width: 100%;
    height: 206vh;
    /* border: red 2px solid; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 1% 3%;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.ImgCatXo{
    position: relative;
    display: flex;
    top: 2em;
    min-width: 100%;
    height: 48vh;
    /* border: sienna 2px solid; */
    /*efecto vidrio templado*/
    background: rgba(224, 7, 188, 0.37); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(158, 0, 97, 0.39); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 3em;
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
    opacity: 0;
}

.ImgCatXo > img{
    position: absolute;
    border-radius: 1em 3em;
    transition: all 2s ease;
    /*efecto vidrio templado*/
    background: rgba(224, 7, 188, 0.37); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(158, 0, 97); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    width: 100%;
    height: 100%;
}

.ImgCatXo > a{/*el la imagen del cuadrado*/
    position: relative;
    /* border: #ff0080 solid 2px; */
    z-index: 4;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 1s ease, opacity 1s ease, top 1s ease;
    justify-content: center;
    align-content: center;

    &:hover{
        opacity: 0.8;
        transform: translateY(0);
    }
}

.ImgCatXo > a > img{
    position: relative;
    width: 20%;
    height: auto;
    z-index: 4;
}

.ModalDialog{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: opacity 400ms;
    /* border: yellow 2px solid; */
    overflow: hidden;
    overflow-y: none;
}

.ModalContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* border: #6d015f 2px solid; */
    overflow: hidden;
}

.ModalDialog:target {
	opacity:1;
	pointer-events: auto;
}

html:has(.ModalDialog:target) {/*hace que solo afecte el modalDialog para que al abrir las imagenes en grande no haga scroll*/
    overflow: hidden;
}

.ModalDialog > div > img {
	width: 50%;
	position: relative;
	height: 80vh;
    border-radius: 1em 3em;
    /*efecto vidrio templado*/
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 10px dashed rgb(205, 0, 247); /* Borde tenue */
    /*efecto vidrio templado*/
}

.btn-cerrar > img{
    position: relative;
    width: 100%;
    left: 23.5em;
    bottom: 5em;
    height: 10vh;
    font-size: 40px;
    text-decoration: none;
    z-index: 999;
}

.FlechaDerecha, .FlechaIzquierda {
    flex-shrink: 0; /* Evita que la flecha se aplaste */
    width: 80px;    /* Tamaño fijo para las flechas */
    cursor: pointer;
    z-index: 10;
}

.FlechaDerecha{
    position: absolute;
    /* border: #6d015f 2px solid; */
    width: 14%;
    height: 30vh;
    top: 13em;
    right: 8em;
}

.FlechaDerecha > img{
    position: absolute;
    width: 100%;
    height: 20vh;
    right: 0.1em;
    top: 1.5em;
}

.FlechaIzquierda{
    position: absolute;
    /* border: #6d015f 2px solid; */
    width: 14%;
    height: 30vh;
    top: 13em;
    left: 8em;
    z-index: 4;
    transform: rotate(180deg);
}

.FlechaIzquierda > img{
    position: absolute;
    width: 100%;
    height: 20vh;
    right: 0em;
    top: 1.5em;
}

.buttomMore{
    position: relative;
    width: 100%;
    height: 20vh;
    align-content: center;
    justify-content: center;
    /* border: rgba(255, 0, 128, 0.9) 2px solid; */
    bottom: 35px;
    transform: translateY(100px);
    opacity: 0;
}

.buttomMore > a{
    border-radius: 2em;
    padding: 1em;
    /*efecto vidrio templado*/
    background: rgba(224, 7, 188, 0.37); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgb(158, 0, 97); /* Borde tenue */
    box-shadow: 0 4px 22px rgb(61, 0, 58); /* Sombra ligera */
    /*efecto vidrio templado*/
    color: var(--Blanco);
    text-decoration: none;
    font-size: 20px;
    font-family: Lobster;
}

/*Fin de Imagenes para adornar fondo de catalogo*/

/*termino de contenedor de Catalogo*/

/*Inicio de contenedor de process*/

.ContainerTittleandTextProcess{
    position: relative;
    min-width: 100%;
    border: red 2px solid;
    height: 120vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
        background: linear-gradient(231deg,rgba(145, 3, 107, 0.6) 0%, rgba(250, 250, 250, 0) 14%, rgba(255, 255, 255, 0) 83%, rgba(145, 3, 107, 0.59) 100%);
    border-radius: 2em;
    border: dashed 5px var(--Rosa-fuerte);
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.TittleProcess{
    position:relative;
    /* border: yellowgreen 2px solid; */;
    height: 20vh;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 3%;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(235, 228, 234, 0.829); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 3em;
    transform: translateX(400px);
    opacity: 0;
}

.TittleProcess > h3{
    width: 100%;
    font-size: 50px;
    color: var(--Blanco);
    font-family: Lobster;
}

.textprocessprimary{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70vh;
    /* border: teal 2px solid; */
}

.textprocess {
    width: 50%;
    height: 15vh;
    margin: 1.3em 2em;
    /* border: sandybrown 2px solid; */
    text-align: center;
    align-content: center;
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.068); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    border: 4px dashed rgba(235, 228, 234, 0.829); /* Borde tenue */
    box-shadow: 0 4px 22px rgba(80, 3, 76, 0.37); /* Sombra ligera */
    /*efecto vidrio templado*/
    border-radius: 1em 3em;
    font-size: 20px;
    color: var(--Blanco);
    font-family: Playfair_Display;
    opacity: 0;
    transform: translateX(500px);
}

.textprocess:nth-child(3){
    width: 60%;
    /* border: #88ce02 2px solid; */
}

.textprocess:nth-child(4){
    width: 70%;
    display: flex;
    justify-items: start;
    align-items: center;
    padding-left: 9%;
    /* border: #88ce02 2px solid; */
}

.textprocess:nth-child(5){
    width: 75%;
    display: flex;
    justify-items: start;
    align-items: center;
    padding-left: 9%;
    /* border: #88ce02 2px solid; */
}

.FlechaProgress{
    position: absolute;
    min-width: 100%;
    height: 100vh;
    background: url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 26em 18em / 15em,/*1er flecha*/
    url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 17.5em 11.5em / 15em,/*2do flecha*/
    url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 9em 5em / 15em,/*3er flecha*/
    url(../css/img/Iconos_Xo/FlechaDibujo.png) no-repeat 5em -1.5em / 15em,/*4to flecha*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 58em 18em / 15em,/*aguja de texto 1*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 46em 12em / 15em,/*aguja de texto 2*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 35em 5.5em / 15em,/*aguja de texto 3*/
    url(../css/img/Iconos_Xo/Aguja2.png) no-repeat 25em -1em / 15em;/*aguja de texto 4*/
    z-index: 2;
    /* border: tomato 2px solid; */
    transform: rotate(180deg);
}

.CirculosProcess{
    position: absolute;
    width: 100%;
    height: 120vh;
    background: url(../css/img/Iconos_Xo/CirculoRosaDibujo.png) no-repeat 1em 36em / 10em,/*1er Circulo Rosa*/
    url(../css/img/Iconos_Xo/CirculoRosaDibujo.png) no-repeat 74em 1em / 10em,/*2do Circulo Rosa*/
    url(../css/img/Iconos_Xo/CirculoRosaPintura.png) no-repeat 1em 1em / 20em;/*Circulo principal*/
    /* border: red 2px solid; */
    z-index: 0;
}

/*Termino de contenedor de process*/

/*Inicio de contenedor de Contact*/

.ContainerContactXo{
    position: relative;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50% 50%;
    gap: 0em;
    grid-auto-flow: column;
    justify-content: center;
    /* border: #02c1fc 2px solid; */
    /*efecto vidrio templado*/
    background: rgba(206, 7, 224, 0.144); /* Blanco con transparencia */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Para soporte en Safari */
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /*Sombra ligera*/
    /*efecto vidrio templado*/
    border-radius: 2em;
}

.ContainerTextandPXo{
    /* border: slateblue 2px solid; */
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    align-content: center;
    gap: 2em;
}

.textcontactXoandtext{
    max-width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    /* border: #02c1fc 2px solid; */
    color: var(--Blanco);
    font-family: Playfair_Display;
}

.TittleContactXo{
    max-width: 100%;
    position: relative;
    top: 1em;
    display: flex;
    font-family: Lobster;
    font-size: 30px;
    transform: translateX(400px);
    opacity: 0;
}

.textcontactxo{
    font-family: Playfair_Display;
    font-size: 18px;
    transform: translate(-400px);
    opacity: 0;
}

.IconsXo{
    text-align: center;
    min-width: 100%;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 39%;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 20px;
    color: var(--Blanco);
    font-family: Lobster;
}

.IconsRed{
    transform: translateY(200px);
    opacity: 0;
}


.IconsRed > a > img{
    display: flex;
    width: 70%;
    height: 30vh;
    /* border: #88ce02 2px solid; */
}

/*inicia estilo de footer*/

.FormXo{
    position: relative;
    max-width: 100%;
    height: 110vh;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 110%;
    grid-auto-flow: row;
    /* border: #88ce02 2px solid; */
}

form{
    position: relative;
    display: grid;
    max-width: 100%;
    grid-template-rows: 30% 30% 30%;
    grid-auto-columns: 100%;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    /* border: yellow 2px solid; */
    color: var(--Blanco);
}

.dateperson{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
    gap: 1em;
    align-items: center;
    text-align: center;
    font-family: Playfair_Display;
    transform: translateX(300px);
    opacity: 0;
}

.dateformxo{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 40%;
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1em;
    transform: translateX(400px);
    opacity: 0;
}

/*Termina el contenedor de Contact*/

/*Inicio de diseño de Footer*/

.FooterXo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    /* border: rgba(0,0,0,0.8) 2px solid; */
    min-height: 80vh;
    max-width: 100%;
    background: url(../css/img/Fondos_Pagina_Munecos/FondoFooter2.svg) no-repeat 0em 2em / 160%;
    overflow: hidden;
}

.footerdate{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(200px);
    opacity: 0;
    /* border: red solid 2px; */
}

.NameXo{
    /* border: yellow 2px solid; */
    position: absolute;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--Rosa-fuerte);
    font-family: Lobster;
    font-size: 28px;
    z-index: 2;
    filter: drop-shadow(0 2px 10px rgb(206, 199, 206)); /* Sombra ligera */
}

.backgroundfooter{
    position: absolute;
    /* border: tomato 2px solid; */
    height: 80vh;
    width: 100%;
    background: url(../css/img/Iconos_Xo/BochasoRosa.png) no-repeat center / 40em;
    z-index: 0;
}

/*Termino de diseño de Footer*/

/*Animacion del footer*/

